*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quantum', 'sans-serif';
}

:root{
    --primary: #ffe400;
    --secundary: #333333;
    --alternative: #444444;
}

body{
    background-color: var(--secundary);
    width: 98vw;
}

/*HEADER*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header nav a{
    color: var(--secundary);
    text-decoration: none;
}
.link{
    color: var(--secundary);
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    opacity: 0.7;
}
.logo1{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 1;
}

/*NAV*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary);
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}


/*Banners*/

.banner{
    width: 99vw;
    height: 85vh;
    background-image: url(assets/teste.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.title-principal{
    margin-left: 30vh;
    margin-top: 101px;
    font-size: 65px;
    color: var(--primary);
    letter-spacing: 30px;
    animation-name: titleMove;
    animation-duration: 2s;
}

@keyframes titleMove{
    from{
        letter-spacing: -30px;
    }
    to{
        letter-spacing: 30px;
    }
}

/*Main*/

.article{
    width: 100%;
    height: 85vh;
    text-align: center;
    margin-top: 20px;
    background-color: var(--secundary);
}

.title{
    text-align: center;
    font-size: 50px;
    color: var(--primary);
}

.conteudo{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}

.conteudo .txt1{
    width: 60%;
    margin-top: 150px;
    margin-left: 20px;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--alternative);
    color: #ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bola1{
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin-top: 150px;
    border-radius: 50%;
    margin-left: 10%;
    z-index: 1;
}
#bola2{
    background-color: var(--primary);
    width: 300px;
    height: 300px;
    margin-top: 150px;
    border-radius: 50%;
    margin-left: -20%;
    z-index: 0;
}

.pj{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
}

.conteudo .pj .img-link{
    background-image: url(assets/WH.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    margin: auto;
    transition: 0.4s all ease;
    border-radius: 6px;
}

.conteudo .pj .img-link:hover{
   height: 220px;
   width: 320px;
   cursor: pointer;
   box-shadow: 5px 0px 5px white;
}

.conteudo .pj h2{
    color: var(--primary);
    padding: 10px 0;
}

.conteudo .pj p {
    color: rgb(255, 255, 255);
    width: 420px;
    text-align: justify;
    padding: 0 10px;
    margin: auto;
}

/*Orçamento*/

.orcamento{
    width: 100%;
    height: 85vh;
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
}

.orcamento-container{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.form{
    width: 40%;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
}


.form form{
    width: 90%;
    height: 90%;
    margin: auto;
    border: 2px solid black;
    box-shadow: 1px 2px 2px black;
    margin-top: 20px;
}

form .label{
    height: 10%;
    width: 95%;
    margin-top: 10px;
    border: 1px solid black;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border-radius: 5px;
}

form .mensagem{
    height: 55%;
    width: 95%;
    margin-top: 10px;
    border: 1px solid black;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border-radius: 5px;
    text-align: justify;
}

.contacts{
    width: 40%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contacts .box {
    display: flex;
}

.box{
    margin-top: 5vh;
}

.box .img-social{
    width: 50px;
    height: 50px;
}

#icon-wpp{
    background-image: url(assets/icons-face.png);
}

.box .contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.box a{
    text-decoration: none;
    color: var(--secundary);
    font-family: 'Courier New', Courier, monospace;
    opacity: 1;
    transition: 0.3 all ease;
}

.box a:hover{
    opacity: 0.7;
}