@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: #ffe400;
    --secundary: #333333;
    --alternative: #444444;
    --principal: 'Alumni Sans Pinstripe', sans-serif;
    --second: 'Quantico', sans-serif;
}

body{
    background-color: var(--secundary);
    width: 98vw;
}

/*HEADER*/
header {
    width: 101.05%;
    height: 10vh;
    font-family: var(--principal);
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: fixed;
}
.title-1{
    margin-left: 20px;
}

#title1{
    color: var(--secundary);
    text-decoration: none;
    visibility: visible;
    font-family: var(--second);
}

.link{
    color: var(--secundary);
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    opacity: 0.7;
}
.logo1{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 1;
}
@media (max-width: 1060px){
    .title-1{
        margin-top: 3px;
    }
    #title1{
        font-size: 20px;
    }
}

/*NAV*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100vw;
    margin-right: 20%;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    font-family: var(--second);
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--secundary);
    margin: 8px;
}

@media (max-width: 1060px){
    nav{
        margin-right: 0;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--primary);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        border-radius: 0 0 0 3px;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
        margin-left: 55%;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(-45deg) translate(-5px, 7px);
}


/*Banners*/

.banner{
    width: 99vw;
    height: 85vh;
    background-image: url(assets/teste.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--second);
}

.title-principal{
    margin: 50%;
    font-size: 65px;
    color: var(--primary);
    letter-spacing: 30px;
    animation-name: titleMove;
    animation-duration: 2s;
}

@keyframes titleMove{
    from{
        letter-spacing: -30px;
    }
    to{
        letter-spacing: 30px;
    }
}

@media (max-width: 1060px){
    .title-principal{
        font-size: 50px;
        letter-spacing: 5px;
        margin: auto;
    }

    @keyframes titleMove{
        from{
            letter-spacing: -30px;
        }
        to{
            letter-spacing: 5px;
        }
    }
}

/*Main*/

.article{
    width: 100%;
    height: 85vh;
    text-align: center;
    margin-top: 20px;
    background-color: var(--secundary);
    font-family: var(--second);
}
.article2{
    width: 100%;
    height: 85vh;
    text-align: center;
    margin-top: 20px;
    background-color: var(--secundary);
    font-family: var(--second);
}

.title{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    color: var(--primary);
    text-shadow: 2px 2px 2px black;
    font-family: var(--second);
}

.conteudo{
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}

.conteudo .txt1{
    width: 60%;
    margin-top: 150px;
    margin-left: 20px;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--alternative);
    color: #ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bola1{
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin-top: 150px;
    border-radius: 50%;
    margin-left: 10%;
    z-index: 0;
}
#bola2{
    z-index: 1;
    width: 300px;
    height: 300px;
    margin-top: 150px;
    border-radius: 50%;
    margin-left: -22%;
    border-radius: 50%;
}

#bola2 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.pj{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
}
#contador {
    background-image: url(assets/cont.png);
}

.conteudo .pj .img-link{
    background-image: url(assets/WH.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    margin: auto;
    transition: 0.4s all ease;
    border-radius: 6px;
}

.conteudo .pj .img-link:hover{
   height: 220px;
   width: 320px;
   cursor: pointer;
   box-shadow: 5px 0px 5px white;
}

.conteudo .pj h2{
    color: var(--primary);
    padding: 10px 0;
}

.conteudo .pj p {
    color: rgb(255, 255, 255);
    width: 420px;
    text-align: justify;
    padding: 0 10px;
    margin: auto;
    font-family: var(--principal);
    font-size: 25px;
}

@media (max-width: 1060px){
    .article{
        height: 800px;
    }
    .title{
        font-size: 30px;
    }
    .conteudo{
        flex-direction: column;
    }
    .conteudo .txt1{
        margin: auto;
        width: 85%;
    }
    #bola1{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #bola2{
        margin: auto;
        margin-top: -310px;
        margin-left: 80px;
    }
    .article2{
        margin-top: 250px;
        height: 1400px;
    }
}

/*Orçamento*/

.orcamento{
    width: 101%;
    height: 100vh;
    text-align: center;
    margin-top: 20px;
    background-color: rgba(248, 248, 248, 0.96);
    font-family: var(--principal);
}

.orcamento-container{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.form{
    width: 40%;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
}


.form form{
    width: 90%;
    height: 90%;
    margin: auto;
    border: 2px solid black;
    box-shadow: 1px 2px 2px black;
    margin-top: 20px;
}

form .label{
    height: 7%;
    width: 95%;
    margin-top: 10px;
    border: 1px solid black;
    background-color: #fff;
    font-family: var(--principal);
    font-size: 25px;
    border-radius: 5px;
    padding: 3px 0 3px 5px
}

form .mensagem{
    height: 55%;
    width: 95%;
    margin-top: 10px;
    border: 1px solid black;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
}

.button-send{
    background-color: var(--primary);
    color: var(--secundary);
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s all ease;
    opacity: 1;
    cursor: pointer;
    margin-top: 10px;
    font-family: var(--principal);
    box-shadow: 2px 2px black;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-family: var(--second);
}

.button-send:hover{
    opacity: 0.8;
}

.contacts{
    width: 40%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contacts .box {
    display: flex;
}

.box{
    margin-top: 5vh;
}

.box .img-social{
    width: 50px;
    height: 50px;
}

#icon-wpp{
    background-image: url(assets/icons-face.png);
}

.box .contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    font-family: var(--principal);
    font-size: 30px;
}

.box a{
    text-decoration: none;
    color: var(--secundary);
    font-family: 'Courier New', Courier, monospace;
    opacity: 1;
    transition: 0.3 all ease;
}

.box a:hover{
    opacity: 0.7;
}

@media (max-width: 1060px){
    .orcamento{
        height: 550px;
    }
    .orcamento-container{
        flex-direction: column;
    }
    .form{
        width: 90%;
        height: 70vh;
        margin: auto;
        margin-top: 2vh;
        border-radius: 10px;
    }
    .contacts{
        visibility: hidden;
        height: 0vh;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .box .img-social{
        width: 30px;
        height: 30px;
    }
    .box .contato{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
        font-size: 20px;
    }
}

/*Footer*/

footer{
    text-align: center;
    color: var(--primary);
    background-color: var(--secundary);
    height: 80px;
    width: 99vw;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p{
    margin-top: 10px;
}

footer .socials-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.socials-footer .footer-img{
    width: 20px;
    height: 20px;
    margin: 0px 3px;
    cursor: pointer;
}

.socials-footer #insta{
    background-image: url(assets/icons-insta.png);
}