*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quantum', 'sans-serif';
}

:root{
    --primary: #ffe400;
    --secundary: #333333;
    --alternative: #444444;
}

body{
    background-color: var(--secundary);
    width: 98vw;
}

/*HEADER*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header nav a{
    color: var(--secundary);
    text-decoration: none;
}
.link{
    color: var(--secundary);
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    opacity: 0.7;
}
.logo1{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 1;
}

/*NAV*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary);
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}


/*Banners*/

.banner{
    width: 99vw;
    height: 85vh;
    background-image: url(assets/banner_teste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Main*/

.article{
    width: 98vw;
    height: 85vh;
    text-align: center;
    padding-top: 20px;
    background-color: var(--secundary);
}

.title{
    text-align: center;
    font-size: 40px;
    color: var(--primary);
}

.conteudo{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.conteudo .txt1{
    width: 60%;
    margin-top: 150px;
    margin-left: 20px;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--alternative);
    color: #ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conteudo .img{
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin-top: 150px;
    border-radius: 50%;
    margin-left: 15%;
}